apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: istio-cni
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "-3"
spec:
  destination:
    server: https://kubernetes.default.svc
    namespace: kube-system
  project: default
  source:
    chart: cni
    repoURL: https://istio-release.storage.googleapis.com/charts
    targetRevision: 1.20.2
    helm:
      values: |
        cni:
          enabled: true
          namespace: kube-system
          # Configuration log level of istio-cni binary
          # by default istio-cni send all logs to UDS server
          # if want to see them you need change global.logging.level with cni:debug
          logLevel: info
        
          # Allow the istio-cni container to run in privileged mode, needed for some platforms (e.g. OpenShift)
          privileged: true
        
          # Configure ambient settings
          ambient:
            # If enabled, ambient redirection will be enabled
            enabled: true
        
          # Default excludes istio-system; its actually fine to redirect there since we opt-out istiod, ztunnel, and istio-cni
          excludeNamespaces:
          - kube-system
          
          ## GKE SPECIFIC
          #cniBinDir: /home/kubernetes/bin
  syncPolicy:
    automated:
      prune: true
      selfHeal: true