# kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# list of resources to be Applied
resources:
- ../../../../shared-components/istio/helm/base
- istio-eastwestgateway.yaml
- grafana-helm.yaml
- grafana-dashboard-configmaps

patches:
- istiod.yaml