# kustomization.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# list of resources to be Applied
resources:
- homer-rt-443.yaml
- login-extauthpolicy.yaml
- login-routetable.yaml
